<!DOCTYPE html>
<html lang="en">

<body>
<nav>
    <ul>
        <img src="static/assets/ncs_logo.png" height="60" alt=""> 
        <li><a href="/replits/">Replits</a></li>
        <td><a href="/reviews/">Code Reviews</a></li>
        <td><a href="/repos/">Repositories</a></li>
        <td><a href="/create-task/">Create Task Project</a></li>
        <td><a href="/docs/">Documentation</a></li>
    </ul>
</nav>

{{content}}

<style>
    nav ul {
        display: flex;
        list-style: none;
    }
</style>
</body>
