<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    content="width=device-width, initial-scale=1.0">
    <title>Valen Reynolds Work</title>
</head>
<body>
<nav>
    <ul>
        <img src="static/assets/ncs_logo.png" height="60" alt=""> 
        <li><a href="/replits/">Replits</a></li>
        <li><a href="/reviews/">Code Reviews</a></li>
        <li><a href="/repos/">Repositories</a></li>
        <li><a href="/create-task/">Create Task Project</a></li>
        <li><a href="/docs/">Documentation</a></li>
    </ul>
</nav>

{{content}}

<style>
    nav ul {
        display: flex;
        list-style: none;
    }
    nav ul li {
        margin-right: 10px;
    }
    nav ul li a {
        text-decoration: none;
        color: green;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
</style>
</body>
</html>
